@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.375rem;

        --brand: theme('colors.brand.500');
        --control: theme('colors.gray.300');
        --control-highlight: theme('colors.gray.400');

        --border: theme('colors.gray.200');
        --ring: theme('colors.brand.500');

        --muted: theme('colors.gray.500');
        --muted-highlight: theme('colors.gray.700');

        --paper: theme('colors.white');
        --paper-highlight: theme('colors.gray.100');

        --modal: theme('colors.white');
    }
    .dark {

        --brand: theme('colors.brand.200');
        --control: theme('colors.gray.700');
        --control-highlight: theme('colors.gray.600');

        --border: theme('colors.gray.700');
        --ring: theme('colors.brand.200');

        --muted: theme('colors.gray.400');
        --muted-highlight: theme('colors.gray.300');

        --paper: theme('colors.gray.800');
        --paper-highlight: theme('colors.gray.700');

        --modal: theme('colors.gray.900');
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply text-gray-800 dark:text-gray-100
}

h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
}

h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0
}

h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight
}

h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight
}

ul {
    @apply my-6 ml-6 list-disc [\&>li]:mt-2
}
